﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcBlog.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/3b49231f96.js" crossorigin="anonymous"></script>
</head>
<style>
    #app {
        background-color: #e4e5e6;
    }

    .left-main {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .main-body {
        height: auto;
        /*//min-height: 900px;*/
    }

    .col-md-10.right-main {
        padding: 20px 30px 20px 20px;
        background-color: #e4e5e6;
       /* height: 85vh;*/
    }

    .app-header {
       /* padding: 100px 0;*/
        background: #201e1e;
    }

    .img-header {
        max-height: 70px;
        max-width: 100px;
    }

    .text-header {
        color: #fff;
        font-size: 2rem;
    }

    /* .app-footer {
      padding: 30px 0;
    } */

    .app-menu {
        background-color: #fff;
        height: 100%;
        min-height: calc(100vh - 300px);
    }

    .ul-menu {
        list-style: none;
    }

        .ul-menu li {
            padding-top: 16px;
        }

    .icon-item {
        padding-right: 16px;
    }

    .menu-a {
        text-decoration: none;
        color: black;
    }

        .menu-a:hover {
            color: aqua;
        }

    .app-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }

</style>
<body>

    <header class="app-header bg-dark">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="row w-100">
                    <div class="col-2 d-flex justify-content-center">
                        <img src="http://devfast.us/images/devfast-logo.png" class="img-header" alt="" />
                    </div>
                    <div class="col-10 d-flex justify-content-center align-items-center">
                        <p class="text-header m-0">Blogmanagement</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="contrainer-fluid main-body">
        <div class="row">
            <div class="col-md-2 left-main ps-4">
                <div class="app-menu">
                    <ul class="ul-menu">
                        <li><a href="~/Blogs" class="menu-a"><i class="fa-solid fa-list icon-item"></i> List</a>
                        </li>
                        <li><a href="~/Blogs/Create" class="menu-a"><i class="fa-solid fa-calendar-plus icon-item"></i>
                                New</a></li>
                        <li><a href="~/Blogs/Search" class="menu-a"><i
                                    class="fa-solid fa-magnifying-glass icon-item"></i>
                                Search</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 right-main">
                
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="app-footer bg-dark text-white">
        <div class="d-flex justify-content-center align-items-center">
            <div>Copyright&nbsp;&copy;&nbsp;<a>DevFast</a></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
