﻿/*#app {
  background-color: #e4e5e6;
}

.left-main {
  padding-left: 0px;
  padding-bottom: 0px;
}

.main-body {
  height: auto;
  //min-height: 900px;
}

.col-md-10.right-main {
    padding: 20px 30px;
    background-color: #e4e5e6;
    height: 85vh;   
}
.app-header {
  padding: 100px 0;
  background: #201e1e;
}

.img-header {
  max-height: 70px;
  max-width: 100px;
}

.text-header {
  color: #fff;
  font-size: 2rem;
}*/

/* .app-footer {
  padding: 30px 0;
} */

/*.app-menu {
  background-color: #fff;
  height: 100%;
  min-height: calc(100vh - 300px);
}

.ul-menu {
  list-style: none;
}

.ul-menu li {
  padding-top: 16px;
}

.icon-item {
  padding-right: 16px;
}

.menu-a {
  text-decoration: none;
  color: black;
}

.menu-a:hover {
  color: aqua;
}

.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/
