﻿@model MvcBlog.Models.Blog

@{
    ViewData["Title"] = "Create";
}
<style>
    .card-title {
        padding: 10px;
        background-color: #f0f3f5;
    }
</style>
<div class="card">
    <h4 class="card-title">New Blogs</h4>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label class="control-label mb-1">Tiêu đề:</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label class="control-label mb-1">Mô tả ngắn:</label>
                            <textarea rows="4" asp-for="Des" class="form-control"></textarea>
                            <span asp-validation-for="Des" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label class="control-label mb-1">Chi tiết:</label>
                            <textarea rows="4" asp-for="Detail" class="form-control"></textarea>
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="form-group">
                            <label class="control-label mb-1">Hình ảnh:</label>
                            <input asp-for="Thumbs" class="form-control" type="file" />
                            <span asp-validation-for="Thumbs" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <div class=" mb-1">Vị trí:</div>
                            <div class="d-flex align-content-center">
                                <div class="pe-3">
                                    <input id="1" name="Position" type="checkbox" value="1" />
                                    <label for="1" class="control-label">Việt Nam</label>
                                </div>
                                <div class="pe-3">
                                    <input id="2" name="Position" type="checkbox" value="2" />
                                    <label for="2" class="control-label">Châu Á</label>
                                </div>
                                <div class="pe-3">
                                    <input id="3" name="Position" type="checkbox" value="3" />
                                    <label for="3" class="control-label">Châu Âu</label>
                                </div>
                                <div class="pe-3">
                                    <input id="4" name="Position" type="checkbox" value="4" />
                                    <label for="4" class="control-label">Châu Mỹ</label>
                                </div>
                            </div>

                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <div class=" mb-1">Public:</div>
                            <div>
                                <input class="form-check-input" type="radio" value="true" name="Public" /> <label
                                    class="control-label">Yes</label>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" value="false" name="Public" /> <label
                                    class="control-label">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row mb-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Loại:</label>
                                <input asp-for="Category" class="form-control" />
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Date pubblic:</label>
                                <input asp-for="Data_pubblic" class="form-control" />
                                <span asp-validation-for="Data_pubblic" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                    <div clasclass="form-group">
                        <button type="submit" value="Create" class="btn btn-success">Submit</button>
                        <button class="btn btn-primary" type="reset">Clear</button>
                    </div>

                </form>
            </div>
        </div>

        <div>


        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
