﻿@model IEnumerable<MvcBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

@* <p>
    <a asp-action="Create">Create New</a>
    </p> *@
    <style>

    .card-title {
        padding: 10px;
        background-color: #f0f3f5;
    }
    </style>
<div class="card">
    <h4 class="card-title">List Blog</h4>
    <div class="card-body">
        <table class="table table-bordered align-middle text-center table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                       Tin
                    </th>
               @*     <th>
                        @Html.DisplayNameFor(model => model.Des)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detail)
                    </th>*@
                    <th>
                        Loại
                    </th>
                    <th>
                        Trạng Thái
                    </th>
                    <th>
                        Vị trí
                    </th>
                    <th>
                       Ngày Public
                    </th>
                @* <th>
                        @Html.DisplayNameFor(model => model.Thumbs)
                    </th>*@
                
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td> <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                     @*   <td>
                            @Html.DisplayFor(modelItem => item.Des)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detail)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Public)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data_pubblic)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Thumbs)
                        </td>*@
                        <td>
                            <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        </td>
                        <td>
                            @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
